<div class="form-group choice_subject">
  <%= f.label :task %>
  <div class="col-md-12">
    <div class=" row col-md-10 form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control",
        placeholder: t("subject.task_name") %>
    </div>
    <div class="row col-md-10 form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control",
        placeholder: t("subject.task_description") %>
    </div>
    <div class="row col-md-8 margin-bottom-fix">
      <%= link_to_remove_fields "remove", f %>
    </div>
  </div>
</div>
