<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="new-dev" class="clearfix">
        <div class="header-learning-program-detail header-first">
          <%= t "new_dev" %>
        </div>
        <%= image_tag "new-dev-detail.png", atl: t("new_dev"),
          class: "image-smooth-scroll-detail" %>
      </div>

      <div id="intern" class="clearfix">
        <div class="header-learning-program-detail header-first">
          <%= t "intern" %>
        </div>
        <%= image_tag "intern-detail.png", atl: t("intern"),
          class: "image-smooth-scroll-detail" %>
      </div>

      <div id="open-edu" class="clearfix">
        <div class="header-learning-program-detail header-first">
          <%= t "open_education" %>
        </div>
        <%= image_tag "open-edu-detail.png", atl: t("open_education"),
          class: "image-smooth-scroll-detail" %>
      </div>
    </div>
  </div>
</div>
