<div class="container">
  <div class="header-learning-program">
    <%= t "programming_languages" %>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-6-box">
      <%= image_tag "ruby.png", atl: t("ruby"),
        class: "image-programming-language" %>
      <div class="content-programming-language">
        <div class="header-content-programming-language">
          <%= t "ruby" %>
        </div>
        <div class="description-content-programming-language">
          <hr>
          <%= t "ruby_description" %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-md-6-box">
      <%= image_tag "ios.png", atl: t("ios"),
        class: "image-programming-language" %>
      <div class="content-programming-language">
        <div class="header-content-programming-language">
          <%= t "ios" %>
        </div>
        <div class="description-content-programming-language">
          <hr>
          <%= t "ios_description" %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-md-6-box">
      <%= image_tag "php.png", atl: t("php"),
        class: "image-programming-language" %>
      <div class="content-programming-language">
        <div class="header-content-programming-language">
          <%= t "php" %>
        </div>
        <div class="description-content-programming-language">
          <hr>
          <%= t "php_description" %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-md-6-box">
      <%= image_tag "android.png", atl: t("android"),
        class: "image-programming-language" %>
      <div class="content-programming-language">
        <div class="header-content-programming-language">
          <%= t "android" %>
        </div>
        <div class="description-content-programming-language">
          <hr>
          <%= t "android_description" %>
        </div>
      </div>
    </div>

  </div>
</div>
