<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="home-slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#home-slider" data-slide-to="0" class="active"></li>
          <li data-target="#home-slider" data-slide-to="1"></li>
          <li data-target="#home-slider" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "slide1.jpg", atl: t("slide_picture") %>
          </div>

          <div class="item">
            <%= image_tag "slide2.jpg", atl: t("slide_picture") %>
          </div>

          <div class="item">
            <%= image_tag "slide3.jpg", atl: t("slide_picture") %>
          </div>
        </div>

        <%= link_to do %>
          <b class="left carousel-control" href="#home-slider" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only"></span>
          </b>
        <% end %>

        <%= link_to do %>
          <b class="right carousel-control" href="#home-slider" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only"></span>
          </b>
        <% end %>
      </div>
    </div>
  </div>
</div>
