<% provide :title, @admin_user.name %>

<h1><%= t "user_detail" %></h1>
<div class="container">
  <p>
    <%= link_to admin_users_path, class: "btn btn-success" do %>
      <%= t "back_to_list" %>
      <span class="glyphicon glyphicon-list"></span>
    <% end %>
  </p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t "name" %></th>
          <th><%= t "email" %></th>
          <th><%= t "avatar" %></th>
          <th><%= t "role" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @admin_user.name %></td>
          <td><%= @admin_user.email %></td>
          <td>
            <%= image_tag @admin_user.avatar_url_url, alt: t("avatar_picture") %>
          </td>
          <td>
            <%= @admin_user.role %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
