<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("title_project"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to t("home_title"), root_path,
            class: "glyphicon glyphicon-home" %>
        </li>
        <li>
          <%= link_to t("course_title"), root_path,
            class: "glyphicon glyphicon-list" %>
        </li>
        <li>
          <%= link_to t("login"), root_path,
            class: "glyphicon glyphicon-log-in" %>
        </li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle glyphicon glyphicon-cog",
            data: {toggle: "dropdown"} do %>
              <%= t "account" %><b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li>
                <%= link_to t("view_profile"), root_path,
                  class: "glyphicon glyphicon-info-sign" %>
              </li>
              <li>
                <%= link_to t("edit_profile"), root_path,
                  class: "glyphicon glyphicon-wrench" %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to t("logout"), root_path,
                  class: "glyphicon glyphicon-log-out" %>
              </li>
            </ul>
          </li>
      </ul>
    </nav>
  </div>
</header>
