<p><%= t "hello" %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>
    <%= t "we_are_contacting_you_to_notify_you_that_is_being_change_to" %>
    <%= @resource.unconfirmed_email %>.
  </p>
<% else %>
  <p>
    <%= t "we_are_contacting_you_to_notify_you_that_has_been_change_to" %>
    <%= @resource.email %>.
  </p>
<% end %>
